@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Cuprum|Istok+Web|PT+Sans+Caption|Roboto');

/**********************************ScrollBar (notFirefox)*******************/
*::-webkit-scrollbar-track
{
	background-color: #f0f0f0;
	border-radius: 10px;
}


*::-webkit-scrollbar
{
	width: 0.5%;
	height: 0.02%;
	background-color: #f5f5f5;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb
{
	background-color: #999;
	border-radius: 10px;
}
/**************************************Body Std Css************************************************/
*{ font-family: "Istok Web", sans-serif; scroll-behavior: smooth;}

section h1,
section h2{
	margin-bottom: 30px;
	font-size: 3em;
}
/*****************************Link*******************/
a:link,
a:visited {
	color:#00B3E6;
}
a:hover {
	color: #00f3E6;
}
/***************************************************/
.container{
	margin: 32px auto;
}

.mainJ{
	background: url(../img/main-land3.png);
	width: 100%;
	background-size: cover;
	background-position: 0 100%;
	background-repeat: no-repeat;
	color: #fff;
	font-family: "Istok Web", sans-serif;
	font-size: 2em;
	position: relative;
	margin-top: -5%;
	min-height: 720px; 
}
.parallax-bg{
	background-image: url(../img/jumbo-parallax.png);
	background-color: #00C5F0; /*#09569B*/
	background-attachment: fixed;
	background-size: cover;
	background-position:;
	background-repeat: no-repeat;
	color: #fff;
	min-height: 340px;
}

.icon-b{
	margin: 32px auto;
}
.icon-b + *{
	font-size: 2em;
}
.icon-b + * + p{
	font-size: 1.2em;
}
/**********************************Pill-Cards************************************/
.pBg-1{
	background: url(../img/anal.png) no-repeat;
}
.pBg-2{
	background: url(../img/pils.png) no-repeat;
}
.pBg-3{
	background: url(../img/pils1.png) no-repeat;
}
.pBg-4{
	background: url(../img/pils2.png) no-repeat;
}
.pBg-5{
	background: url(../img/pils3.png) no-repeat;
}
.pBg-6{
	background: url(../img/pils4.png) no-repeat;
}
.pCards{
	background-size: 110% auto;
	background-position: center;
	margin: 1% 2%;
	width: 100%;
	min-height: 200px;
	border-radius: 5px;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
div.pCards:hover{
	background-size: 120% auto;
}

.pCards:hover .pCardT{
	background: rgba(9,86,155,0.85);
	height: 100%;
	padding-top: 10%;
	border-radius: 5px;
}

.pCardT{
	background: rgba(9,86,155,0.8);
	border-radius: 0 0 5px 5px;
	position: absolute;
	font-weight: 10px;
	color: white;
	width: 100%;
	height:40%;
	bottom:0;

	-webkit-transition: background 0.5s ease, top 0.5s ease, padding-top 0.5s ease, height 0.5s ease;
	-o-transition: background 0.5s ease, top 0.5s ease, padding-top 0.5s ease, height 0.5s ease;
	transition: background 0.5s ease, top 0.5s ease, padding-top 0.5s ease, height 0.5s ease;
}
.pCardT>p{
	margin: 5%;
}
/**********************************Youtube block************************************/
.youtube-block{
	background: url(../img/player-bg.png) no-repeat;
	background-size: 100% 100%;
}

.vList{ 
	background: rgba(217,237,247,0.3);
	color:#111;
}
.vList img{ width:160px; height: 100px;  }
.vList li{ margin-top: 3%; }

.vList li,
.vList img{
	list-style:none;
	margin-left: -5%;
	margin-right: 5%;
	transition: all 0.3s ease;
}
.vList h4{
	transition: all 0.3s ease;
}
.vList li:hover img,
.vList li:hover h4{
	box-shadow: 0 10px 10px -5px #60a0c5;
	transform: scale(1.1);
}
/***************************************Buttons****************************************/
 .bBlock{
	margin-top: 10%;
} 
.btns{
	outline: none;
	background: transparent;
	border: 1px solid #00B2F4;
	color: #00B2F4;
	border-radius: 100px;
	font-size: 1.2em;
	padding: 1% 3%;
}

.btns:hover,
#tm:hover,
#tm2:hover{
	box-shadow: 0 0 5px #01EDC9, inset 0 0 5px #01EDC9;
	border: 1px solid #00B2F4;
	border-color: #01EDC9;
	background: none;
	color: #fff;
}

button.btns{
	background: url(../img/templef0.png) no-repeat center;
	background-size: auto 100%;
	color: transparent;
	font-weight: bold;
	border: 1px solid #f0f0f0;
	transition: all 0.5s ease;
}
#tm{
	background: rgba(240,240,240,0) url(../img/medicinef0.png) no-repeat center;
	background-size: auto 100%;
}
#tm2{
	background: rgba(240,240,240,0) url(../img/arfaf0.png) no-repeat center;
	background-size: auto 100%;
}

/*==================================*/
.btn-m{
	margin-top: 5%;
}
/****************************************Social Btns************************************/
.social{
	float: left;
	margin: 5px auto;
}
.social-t,
.social-f,
.social-b,
.social-c,		
.social-i,
.social-g {
	transition: all 0.3s ease;
	border-radius: 100%;
	display: inline-block;
	background: rgba(17,17,17,0.7);
	background-image: url("../img/sprite.png");
	background-size: 600%;
	width: 35px;
	height: 35px;
	box-shadow: inset 0 2px 1px black;
}
.social-f{
	background-position: -35px 0;
}
.social-b{
	background-position: -70px 0; 
}
.social-c{
	background-position: -105px 0;
}
.social-i{
	background-position: -140px 0;
}
.social-g{
	background-position: -175px 0;
}
.social-t:hover,
.social-f:hover,
.social-b:hover,
.social-c:hover,
.social-i:hover,
.social-g:hover {
	cursor: pointer;
	background-position-y: -35px;
}
